*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.iml

.gradle/
/build/
**/build/
.externalNativeBuild/
.cxx/
bin/
gen/
out/
release/

local.properties

.idea/
.vscode/
.navigation/
captures/

*.jks
*.keystore

google-services.json

.DS_Store
.AppleDouble
.LSOverride
